/* FONTES */
@font-face {
    font-family: "Coolvetica";
    src: url("coolvetica rg.otf") format("truetype");
  }
/* FONTES */
  
/* CÓDIGO DO MENU DA BARRA DO TOPO */
* {
    margin: 0;
    padding: 0;
  }
  a:hover {
    opacity: 0.7;
  }
  body {
    background-image: url(Fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  #barra {
    z-index: 1;
  }
  #logo {
    font-size: 6vh;
    text-transform: uppercase;
    letter-spacing: 1vh;
    transition: none;
    width: 100%;
    text-overflow: hidden;
    margin-left: 1vh;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    margin-right: 8vh;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Coolvetica", sans-serif;
    background: #23232e;
    height: 18vh;
    width: 100%;
    overflow: visible;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: none;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
    letter-spacing: 4vt;
    margin-left: 10vt;
  }
  .mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 0;
  }
  .mobile-menu div {
    width: 6vh;
    height: 1vh;
    background: #fff;
    margin-top: 1vh;
    margin-right: 0.5vh;
    margin-bottom: 1vh;
    z-index: 0;
  }
    .nav-list {
      position: fixed;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

     .nav-list li {
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 1vh;
      transition: none;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    .mobile-menu {
      display: block;
      position: fixed;
      right: 0vh;
      z-index: 2;
      transition: none;
    }
 
  .nav-list.active {
    transform: translateX(0);
    position: fixed;
  }

  .mobile-menu.active {
    position: fixed;
    transition: none;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
/* CÓDIGO DO MENU DA BARRA DO TOPO */
        
/* BANNERS */
.retangulotopo {
          width: 94%;
          height: auto;
          border-radius: 3vh; 
          background-color: rgb(255, 255, 255);
          z-index: 1;
          font-family: "Coolvetica", sans-serif;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          opacity: 100%;
          margin-bottom: 5vh;
          margin-top: 20vh;
        }

        .retangulo {
          width: 94%;
          height: auto;
          border-radius: 3vh; 
          background-color: rgb(255, 255, 255);
          z-index: 1;
          font-family: "Coolvetica", sans-serif;
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          opacity: 100%;
          margin-bottom: 5vh;
          margin-top: 5vh;
        }
    
        #titulobanner {
          color: black; 
          font-size:5vh; 
          text-align: right; 
          user-select: none;
          position: relative;
          margin-right: 1vh;
          margin-left: 15%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        #textobanner {
          position: relative;  
          color: black; 
          font-size: 4vh; 
          text-align: right; 
          user-select: none;
          margin-right: 1vh;
          margin-top: 30vh;
          margin-left: 30%;
          padding-bottom: 5vh;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        #textobannerlink {
          position: relative;  
          color: black; 
          font-size: 4vh; 
          text-align: right; 
          user-select: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }
       
        #textobotao {
          position: relative;  
          color: black; 
          text-align: right; 
          user-select: none;
          margin-left: 1vh;
          margin-bottom: 5vh;
        }

        #botaointeracao {
          position: relative; 
          color: red; 
          border-radius: 3vh; 
          font-family: "Coolvetica", sans-serif; 
          font-size: 3vh; 
          padding: 2vh;
          opacity: 0.9;
          border:none!important;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        #botaointeracao:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        
/* BANNERS */
       
/* BOTÃO DE VOLTAR AO TOPO DA PÁGINA */
        #btntop {
          position: fixed;
          bottom: 5vh;
          right: 1vh;
          width: 15vh;
          height: 15vh;
          background-color: rgba(0, 247, 255, 0.5);
          border-radius: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          z-index: 1;
        }
  
        .arrow {
          border: solid rgba(204, 0, 255, 0.5);
          border-width: 0 3vh 3vh 0;
          padding: 2vh;
          display: inline-block;
          position: relative;
          top: 1vh;
        }
  
        .up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }  
/* BOTÃO DE VOLTAR AO TOPO DA PÁGINA */        
  
/* BARRA DE ROLAGEM */  
        ::-webkit-scrollbar {
          width: 2vh;
          background-color: rgb(0, 247, 255);
          border: 1vt solid white;
        }
  
        ::-webkit-scrollbar-thumb {
          background-color: purple;
        }
/* BARRA DE ROLAGEM */ 

/* ESTILIZAÇÃO DO RODAPE */
         #rodape {
         background-color: #333;
         padding: 1vh;
         text-align: center;
         align-items: center; 
         position: relative;
         width: 100vt;
         height: 40vt;
         bottom: 0;
         user-select: none;
        }

        #titulorodape {
         position: relative;
         color: #fff;
         font-family: "Coolvetica", sans-serif;
         font-size: 6vh;
         overflow: hidden;
         text-overflow: ellipsis;
         margin-top: 2vh;
        }

        #textorodape {
         font-size: 4vh;
         color: #fff;
         font-family: "Coolvetica", sans-serif;
         margin-bottom: 2vh;
         overflow: hidden;
         text-overflow: ellipsis;
        }

          #redessociais {
            width: 8vh; 
            height: 6vh;
            margin-top: 3vh;
          }
          
          #redessociais:hover {
            opacity: 0.7;
            cursor: pointer;
          }

/* ESTILIZAÇÃO DO RODAPE */       